DATABASE_NAME=Your MySQL Schema Name
DATABASE_USERNAME=Your MySQL Username
DATABASE_PASSWORD=Your MySQL Password

# MUST be a long, random string (min 32 chars) for HS256 algorithm security
JWT_SECRET=Use a 256-bit Hex string or a very long random sentence

# Duration in MILLISECONDS.
JWT_ACCESS_TOKEN_EXPIRATION=Time in ms for short-lived access token

# Duration in MILLISECONDS.
JWT_REFRESH_TOKEN_EXPIRATION=Time in ms for long-lived refresh token

GMAIL_USERNAME=Your full Gmail address (e.g., user@gmail.com)

# NOT your login password. Use a 16-char "App Password" from Google Security settings.
GMAIL_PASSWORD=The 16-digit Google App Password (no spaces)

# Integer value (e.g., 5)
OTP_EXPIRY_MINUTES=Time in minutes before OTP dies

# Number of wrong tries allowed before blocking Integer value (e.g., 3)
OTP_MAX_ATTEMPTS=

# Max emails a single user can request per hour Integer value (e.g., 5)
OTP_MAX_REQUESTS_PER_HOUR=

# Client ID ending in .apps.googleusercontent.com...From Google Cloud Console -> APIs & Services -> Credentials
GOOGLE_OAUTH_CLIENT_ID=
# Client Secret starting with GOCSPX-
GOOGLE_OAUTH_CLIENT_SECRET=

